.about {
  width: 100%;
  height: calc(100vh - 2rem);
  display: grid;
  place-items: center;
}

.container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.container h2 {
  color: var(--btnClr);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.info img {
  width: 12rem;
  height: 16rem;
  aspect-ratio: 1/1;
}

.info p {
  width: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  list-style: none;
  height: 5rem;
}

.skills li {
  position: relative;
  padding-left: 1rem;
}

.skills li:before {
  content: "▹";
  position: absolute;
  left: 0;
  top: 0.25rem;
  color: var(--backClr);
  line-height: 1rem;
}

@media screen and (max-width: 65rem) {
  .container {
    padding-top: 4rem;
    width: 100%;
  }
}

@media screen and (max-width: 45rem) {
  .container {
    padding-top: 4rem;
    height: calc(100vh);
  }
  .info {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    /* transform: translateY(-4rem); */
  }
  .info img {
    height: 14rem;
    width: 10rem;
  }
}
