/* Main Page */

.main {
  width: 100%;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}

.container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.main_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  color: var(--txtClr);
}

.main_left > h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--btnClr);
  line-height: 3rem;
}

.line {
  height: 0.125rem;
  width: 8rem;
  background: var(--txtClr);
}

.main_left > p {
  width: 30rem;
  font-size: 1rem;
  word-wrap: break-word;
}

.main__socials {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.main__socials li {
  font-size: 1.5rem;
  color: var(--btnClr);
  display: block;
}

.main__socials a {
  color: var(--btnClr);
  display: block;
  /* transition-delay: 100ms; */
  transition: transform 200ms ease-in-out;
}

.main__socials a:hover,
.main__socials a:focus {
  color: var(--txtClr);
  transform: translateY(-4px);
}

.main__socials a:active {
  color: var(--btnClr);
}

.main_right {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_right img {
  width: 9rem;
}

@media screen and (max-width: 45rem) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    width: 100%;
  }

  .main_right {
    height: 8rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .main_right img {
    width: 7rem;
  }

  .main_left > h1 {
    font-size: 2rem;
  }

  .main_left > p {
    font-size: 1rem;
    width: 18rem;
  }

  .main__socials {
    gap: 1rem;
  }

  .main__socials > li {
    font-size: 1.5rem;
  }
}
