:root {
  --bgClr: #FCFCFF;
  --btnClr: #0AE41F;
  --txtClr: #241023;
  --backClr: #799f7c;
  --cardClr: #243264;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: var(--txtClr); */
}

section {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* padding: 0 10rem; */
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bgClr);
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
}

main.blur section{
  filter: blur(0.25rem) brightness(0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;
  user-select: none;
  overflow-y: hidden;
}
main.blur section {
  z-index: 1;
}

main.blur header {
  z-index: 1;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--txtClr);
}

a:hover {
  color: var(--btnClr);
}

#btn {
  margin-top: 2rem;
  background: var(--btnClr);
  height: 2rem;
  width: 10rem;
  font-family: "Poppins";
  padding: 0 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.125rem;
  color: var(--backClr);
  cursor: pointer;
}

@media screen and (max-width: 65rem) {
  section {
    padding: 8rem 2rem 0;
  }
}

/* Footer */

#footer {
  margin-top: auto;
  width: 100%;
  height: 8rem;
  background: var(--backClr);
  color: var(--txtClr);
  display: flex;
  /* gap: 0.5rem; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#footer > p:first-child {
  padding-top: 1rem;
}

#footer > p:last-child {
  padding-bottom: 1rem;
}

#about {
  color: var(--txtClr);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

#about > h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--btnClr);
}

.info__wrapper {
  display: flex;
  gap: 2rem;
}

#about .about_me {
  background: var(--backClr);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}

@media screen and (max-width: 45rem) {
  .info__wrapper {
    flex-direction: column;
  }

  #about .about_me {
    width: 100%;
  }
}
