:root {
  /* --bgClr: #FCFCFF; */
  --bgClr: #0d0d0d;
  --bgLight: #faf8f8;
  /* --btnClr: #0AE41F; */
  --btnClr: #ffaf00;
  /* --txtClr: #241023; */
  --highlight: #291c00;
  --highlightLight: #ffedcc;

  --lineClr: #393639;
  --lineClrLight: #e5e5e5;

  --txtClr: #d4d4d4;
  --txtClrLight: #4e4e4e;

  --hClr: #ebebec;
  --hClrLight: #2b2b2b;

  --cardClr: #243264;
  /* --backClr: #799f7c; */
  --backClr: var(--highlight);
}

*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--txtClr);
}

ul {
  list-style: none;
}

section {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* padding: 0 10rem; */
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--hClr);
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--bgClr);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
}

section {
  overflow-x: none;
}

main.blur section {
  filter: blur(0.25rem) brightness(0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;
  user-select: none;
  overflow-y: hidden;
}
main.blur section {
  z-index: 1;
}

main.blur header {
  z-index: 5;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--txtClr);
}

#btn {
  margin-top: 2rem;
  background: var(--btnClr);
  height: 2rem;
  width: 10rem;
  font-family: "Poppins";
  padding: 0 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.125rem;
  color: var(--backClr);
  cursor: pointer;
}

@media screen and (max-width: 65rem) {
  section {
    padding: 2rem;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}

/* Footer */

#footer {
  margin-top: auto;
  width: 100%;
  height: 8rem;
  background: var(--backClr);
  color: var(--txtClr);
  display: flex;
  /* gap: 0.5rem; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#footer > p:first-child {
  padding-top: 1rem;
}

#footer > p:last-child {
  padding-bottom: 1rem;
}

.left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 4rem;
  right: auto;
  z-index: 10;
  /* color: var(--light-slate); */
}

.left:after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--lineClr);
}

.main__socials {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.main__socials li {
  font-size: 1.5rem;
  /* color: var(--txtClr); */
  display: block;
}

.main__socials i {
  /* color: var(--txtClr); */
  display: block;
  /* transition-delay: 100ms; */
  transition: transform 200ms ease-in-out;
}

.main__socials i:hover,
.main__socials i:focus {
  color: var(--btnClr) !important;
  transform: translateY(-4px);
}

.main__socials i:active {
  color: var(--btnClr) !important;
}

@media screen and (max-width: 65rem) {
  .left {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
  }
  .main__socials {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .main__socials li {
    font-size: 2rem;
    /* color: var(--txtClr); */
    display: block;
  }
}
